# -- Site Configuration --
# Refer to the theme docs for more details about each of these parameters.
# https://blowfish.page/docs/getting-started/

theme = "blowfish"
baseURL = "https://pdtuan04.github.io/phandinhtuan.dev/"
# baseURL = "phandinhtuan.dev"
defaultContentLanguage = "en"

# pluralizeListTitles = "true" # hugo function useful for non-english languages, find out more in  https://gohugo.io/getting-started/configuration/#pluralizelisttitles

enableRobotsTXT = true
summaryLength = 0

buildDrafts = false
buildFuture = false

enableEmoji = true

# googleAnalytics = "G-XXXXXXXXX"

[pagination]
  pagerSize = 6

[imaging]
  anchor = 'Center'

[taxonomies]
  tag = "tags"
  category = "categories"
  author = "authors"
  series = "series"

[sitemap]
  changefreq = 'daily'
  filename = 'sitemap.xml'
  priority = 0.5

[outputs]
  home = ["HTML", "RSS", "JSON"]

[related]
  threshold = 0
  toLower = false

    [[related.indices]]
        name = "tags"
        weight = 100

    [[related.indices]]
        name = "categories"
        weight = 100

    [[related.indices]]
        name = "series"
        weight = 50

    [[related.indices]]
        name = "authors"
        weight = 20

    [[related.indices]]
        name = "date"
        weight = 10

    [[related.indices]]
      applyFilter = false
      name = 'fragmentrefs'
      type = 'fragments'
      weight = 10

# hugo.toml


[params.author]
  name = "Phan Đình Tuấn"

[params.footer]
  slogan = "NGƯỜI DUY NHẤT BẠN CẦN VƯỢT QUA LÀ CHÍNH BẠN NGÀY HÔM QUA."
  showMenu = true
  showCopyright = true
  showThemeAttribution = true

[params.contact]
  email = "pdtuan04@gmail.com"
  phone = "+84 919 955 439"
  address = "Phường Bảo Vinh, Tỉnh Đồng Nai, Việt Nam."
  facebook = "https://www.facebook.com/pdtuaans55/"

[params]
  copyright = "© { year } Phan Đình Tuấn. All rights reserved."
  customCSS = ["css/custom.css"]

[[menus.footer]]
  name = "Bài Viết"
  url = "posts"
  weight = 1

